In [1]:
import pandas as pd
import numpy as np

In [2]:
## Read vine csv file from Postgresqul export
df = pd.read_csv('./data/vine_table.csv')

In [3]:
## Check datatype and columns
df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [4]:
## Filter the data with total vote greater or equal to 20
vote_df = df[(df['total_votes'] >= 20)]
vote_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302395,R3MS5E3IRFK9MN,1.0,6.0,45.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [5]:
## Filter the vote DataFrame and create a new DataFrame to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
new_df = vote_df[(vote_df.helpful_votes/vote_df.total_votes) >=0.5]
new_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [6]:
## Filter the new DataFrame, create a new DataFrame that retrieves all the rows where a review was written vine == 'Y'.
vine_y_df = new_df[(new_df["vine"] == "Y")]
vine_y_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N
...,...,...,...,...,...,...
2224140,R2S53VJNNBFALC,4.0,38.0,40.0,Y,N
2225611,R1WK162P6URAST,3.0,16.0,28.0,Y,N
2228972,R2YE59X5KUPARP,5.0,44.0,45.0,Y,N
2232328,RU38RYOL77OVU,4.0,46.0,49.0,Y,N
2232911,R1V6AIVQ232LYH,4.0,57.0,59.0,Y,N

In [7]:
## Repeat previous step, but this time retrieve all the rows where vine == 'N'.
vine_n_df = new_df[(new_df["vine"] == "N")]
vine_n_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

### total number of reviews paid and unpaid

In [43]:
total_reviews_cnt = df.review_id.count() 
paid_reviews_cnt = df[(df['vine'] =="Y")].review_id.count()
unpaid_reviews_cnt = df[(df['vine'] =="N")].review_id.count()

### the number of 5-star reviews paid and unpaid

In [44]:
five_star = df[(df['star_rating']==5.0)]
five_star_total = five_star.review_id.count()
paid_five_star_count = five_star[(five_star['vine'] =="Y")].review_id.count()
unpaid_five_star_count = five_star[(five_star['vine'] =="N")].review_id.count()

### the percentage of 5-star reviews for the two types of review paid vs unpaid

In [45]:
five_star_paid_perc = round(((paid_five_star_count/five_star_total)*100), 2)
five_star_unpaid_perc = round(((unpaid_five_star_count/five_star_total)*100),2)

In [46]:
pd.DataFrame([[total_reviews_cnt, paid_reviews_cnt, unpaid_reviews_cnt], [five_star_total, paid_five_star_count, unpaid_five_star_count], [100, five_star_paid_perc, five_star_unpaid_perc]] 
              , index=["Review Count", "Fvie Star Count", "Five Star %"], columns=["Total", "Paid", "Unpaid"])

                   Total     Paid      Unpaid
Review Count     2302401  3137.00  2299255.00
Fvie Star Count  1434884  1686.00  1433198.00
Five Star %          100     0.12       99.88